
/* Layout */
.ant-layout{
    min-height: 100vh;
}
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-menu.ant-menu-sub{
    background-color: transparent !important;

  }
  .ant-layout-sider{
    flex: 0 0 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
  }
  .ant-layout-sider.ant-layout-sider-collapsed{
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
  }
  main{
    overflow-y: scroll;
  }

  /* Login */
  .login-page{
    background-color: #525CE5;
    height: 100vh;
  }
  .login-page .login-section{
    background-color: white;
    padding: 20px;


  }